<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Task_Manager_Beta</title>

    <link rel="stylesheet" href="~/Style/Style.css" />
    <link rel="stylesheet" href="~/Style/DashBoard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Style/Custom.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbl navbar sticky-top navbar-expand-sm navbar-dark">
        <div class="container-fluid">
            <a href="#">
                <img src="~/Graphics/logo-home.svg" alt="Alternate Text" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
@*                     <li class="navb">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="navb">
                        @Html.ActionLink("Sách", "Index", "Sach", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="navb">
                        @Html.ActionLink("Thể Loại", "Index", "TheLoai", new { area = "" }, new { @class = "nav-link" })
                    </li> *@
                </ul>
                <form class="d-flex" action="@Url.Action("Search")" method="get">
                    <input class="drops form-control me-2 border-3 border-custom-green placeholder-wave bg-gradient" name="query" type="text" placeholder="Search">
                    <button class="hv drops btn btn-custom-green" type="submit">Search</button>
                </form>
                <a href="#">
                    <img class="navbutton" src="~/Graphics/notification.svg" alt="Alternate Text" />
                </a>
                <a href="#">
                    <img class="navbutton" src="~/Graphics/setting.svg" alt="Alternate Text" />
                </a>

            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/Scripts/DashBoard.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
